<form class="row g-3" action="#" method="POST" enctype="multipart/form-data">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Cliente Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Ej: cliente@mail.com" required>
    </div>
    <div class="col-md-6">
        <label for="telefono" class="form-label">Cliente Telefono</label>
        <input type="text" class="form-control" id="telefono" placeholder="Ej: 1234562233 " required>
    </div>
    <div class="col-md-6">
        <label for="nombre" class="form-label">Cliente Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ej: Juan " required>
    </div>
    <div class="col-md-6">
        <label for="apellido" class="form-label">Cliente Apellido</label>
        <input type="text" class="form-control" id="apellido" placeholder="Ej: Perez " required>
    </div>
    <div class="col-12">
        <label for="direccion" class="form-label">Cliente Direccion</label>
        <input type="text" class="form-control" id="direccion" placeholder="Ej: Calle 123 Piso 1-E " required>
    </div>

    <div class="col-md-6 ">
        <label  for="fecha"  class="form-label" >Fecha de la Cita:</label>
        <input type="date" id="fecha" class="form-control" >
    </div>
    <div class="col-md-6">
        <label  for="hora" class="form-label" >Hora de la Cita: </label>
        <input type="time" id="hora" class="form-control"  >
    </div>



    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" >
            <label class="form-check-label" for="gridCheck">
                Confirmar Consulta
            </label>
        </div>
    </div>
    <div class="col-12">
        <label for="consulta" class="form-label" >Motivo de consulta</label>
        <textarea class="form-control" id="consulta" placeholder="Motivo de la consulta..." required ></textarea>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</form>