<nav style="background-color: #151D21!important" class="p-2">
        <div style="margin: inherit!important;" class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a style="color: #DFE2F2!important" href="/" class="nav-link px-2 text-secondary text-white">INICIO</a></li>
                    <li><a style="color: #DFE2F2!important" href="/servicios" class="nav-link px-2 text-secondary">SERVICIOS</a></li>
                    <li class="nav-link px-2 text-secondary">
                        <a style="color: #DFE2F2!important" th:href="@{/admin/dashboard}" class="navbar-brand text-rojo" sec:authorize="hasRole('ADMIN')">DASHBOARD</a>
                    </li>
                    <li>
                        <a  th:href="@{/admin/usuarios}" class="nav-link px-2 text-secondary" style="color: #DFE2F2!important; font-weight: 550;" sec:authorize="hasRole('ADMIN')">LISTAR USUARIOS</a>
                    </li>
                </ul>
                
                <div th:if="${session.usuariosession == null}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <a style="color: #DFE2F2!important;position: relative;left: 100px;" th:href="@{/login}" class="btn btn-outline-success btn-success-bg-subtle me-2">Iniciar Sesión</a>
                </div>
                
                <div th:if="${session.usuariosession == null}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <a style="color: #DFE2F2!important;position: relative;left: 100px;"th:href="@{/registrar-usuario}" class="btn btn-outline-success btn-success-bg-subtle me-2">Registrarme</a>
                </div>
                
                <div style="display: flex;">
                <h4 style="margin-left: auto; margin-top: 20px; color:#DDE0E7;left: 12px;position: relative;" th:if="${session.usuariosession != null}">
                    Hola <span style="color:#668797" class="username-color" th:text="${session.usuariosession.nombre}"></span>
                </h4>
                
                <div th:if="${session.usuariosession != null}" class="dropdown text-end">
                    <a th:if="${session.usuariosession.imagen != null}" href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle imagen-header" data-bs-toggle="dropdown" aria-expanded="false">
                         <img th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" alt="Img logo" class="rounded-circle">
                    </a>
                    <a th:if="${session.usuariosession.imagen == null}" href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle imagen-header" data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:src="@{/images/perfil.png}" alt="Img logo" class="rounded-circle">
                    </a>
                    
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="/perfil">Editar Perfil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
                    </ul>
                </div>
                </div>
            </div>
            
        </div>

</nav>