<form th:action="@{/}" method="POST" enctype="multipart/form-data" class="row text-start">

    <h2 class="text-center mt-3 mb-3">REGISTRO DE PROVEEDOR</h2>

    <div class="col-md-6 mb-2">
        <label for="nomobre" class="form-label">Nombre: </label>
        <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Nombre">
    </div>
    <div class="col-md-6 mb-2">
        <label for="apellido" class="form-label">Apellido:</label>
        <input type="text" name="apellido" class="form-control" id="apellido" placeholder="Apellido">
    </div>

    <div class="col-md-6 mb-2">
        <label class="form-label" for="mail">Correo Electrónico:</label>
        <input type="text" id="mail" name="email" placeholder="Email" th:value="${email}" class="form-control " />
    </div> 
    <div class="col-md-6 mb-2">
        <label for="telefono" class="form-label">Telefono:</label>
        <input type="text" name="telefono" class="form-control" id="telefono" placeholder="Numero telefonico">
    </div>

    <div class="col-md-6 mb-2">
        <label for="contraseña" class="form-label">Conrtaseña</label>
        <input type="password" name="password" class="form-control" id="contraseña" placeholder="Contraseña">
    </div>
    <div class="col-md-6 mb-2">
        <label for="contraseña2" class="form-label">Repetir contraseña</label>
        <input type="password" name="password2" class="form-control" id="contraseña2" placeholder="Repite la contraseña">
    </div>

    <div class="col-md-12 mb-2">
        <label class="form-label" for="imagen">Perfil imagen:</label>
        <input type="file" id="imagen" name="archivo" class="form-control " > <!-- accept="image/*"-->
    </div>

    <div class="col-md-12 mb-2">
        <label  class="form-label" for="tipoServicio">Tipo de Servicio ofrecido</label>
        <input type="text-area" id="tipoServicio" name="tipoServicio" placeholder="Tipo de Servicio" class="form-control" />
    </div>

    <div class="col-md-12 mb-2">
        <label class="form-label" for="descripcionServicio">Descripcion de Servicio ofrecido:</label>
        <textarea class="form-control" id="descripcionServicio" name="descripcionServicio" placeholder="Descripcion de Servicio" rows="3"></textarea>
    </div>


    <button type="submit" class="btn btn-primary w-100 py-2 my-3">Registrarse</button>         

</form>