<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/fragments/head :: head" </head>
    <body>

        <div class="container">
            <header th:replace ="/fragments/header :: header" </header>
        </div>

        <div class="container">
            <div>TODO write content PANEL ADMIN ---------------------</div>
        </div>

        <div class="container">
            <footer th:replace="/fragments/footer :: footer" </footer>
        </div>
        </body>
</html>
