<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>ELIMINAR USUARIOS</title>
        <link rel="stylesheet" href="/css/index.css">
    <div th:replace="/fragments/head :: head"></div>
</head>
<body>

    <div class="row" >
        <div class="col"></div>
        <div class="col-5">
            <div class="card">
                <div class="card-header bg-danger">
                    ELIMINAR USUARIO
                </div>
                <div class="card-body">
                    <h5 class="card-title">Eliminar usuario </h5>

                    <p>Esta accion eliminara definitivamente la cuenta de la base de datos. Te recomendamos dar de baja la cuenta.</p>
                    <a  th:href="@{/admin/Alta/__${usuario.id}__}" th:text="'Activo: '+${usuario.activo}" class="btn btn-outline-secondary " >Cambiar Alta/Baja</a>
                    <h5>Estas seguro que deseas eliminar esta cuenta ?</h5>
                    <a th:href="@{/admin/eliminarUsuario/__${usuario.id}__}"><button type="button" class="btn mt-2 btn-outline-danger">ELIMINAR CUENTA</button></a>

                    
                    
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>


</body>
</html>
