<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    <div th:replace="/fragments/head :: head"></div>
    <title>Servicio</title>
</head>
<body style=" background: lightgray">

    <!--<header th:replace="/fragments/header :: header" ></header> -->
    <nav th:replace="/fragments/navbar :: nav" ></nav>




    <main class="container">

        <h3 th:text="${proveedor.nombre}" class="pb-4 mb-4 fst-italic border-bottom text-center">
            Servicio de tal cosa
        </h3>

        <div class="row g-5">
            <div class="col"></div>
            <div class="col-10">


                <article  class="blog-post p-3 m-3 fondo ">

                    <div  class="row ">
                        <div class="col">
                            <h5 th:text="${proveedor.nombre}"></h5>
                        </div>
                        <div class="col">
                            <h5 th:text="${proveedor.categoriaServicio}"></h5>
                        </div>
                        <div class="col">
                            <small style="margin-left: 10px" th:if="${session.usuariosession == null}" class="text-body-secondary">⭐ ⭐ ⭐ ⭐ ⭐</small>
                            <small th:if="${session.usuariosession != null}" class="text-body-secondary">⭐ ⭐ ⭐ ⭐ ⭐ Calificacion</small>
                        </div>

                        <div class="row ">
                            <img  class="img-fluid " th:src="@{/imagen/perfil/__${proveedor.id}__}" alt="Img Servicio">



                        </div>


                        <div class="row ">
                            <hr>
                            <div class="col ">
                                <p  th:text="'Nombre: '+${proveedor.nombre}" >Nombre y Aplellido:</p>
                            </div>
                            <div class="col">
                                <p  th:text="'Telefono: '+${proveedor.telefono}" >Telefono:</p>
                            </div>
                            <hr>
                        </div>

                        <div class="row ">
                            <div class="col">
                                <p  th:text="'Email: '+${proveedor.email}" >Email:</p>
                            </div>
                            <div class="col">
                                <p  name="cuerpo" >Matricula:</p>
                            </div>
                            <hr>
                        </div>


                        <!-- ITERA LA LISTA SERVICIOS DEL PROVEEDOR -->
                        <h3>Servicios Ofrecidos por este Proveedor</h3>
                        <div lass="card m-3" th:each="servicio : ${proveedor.sevicios}"  >
                            <hr>
                            <p   >Descripcion y datos de servicio</p>

                            <p  th:text="'Dato Proveedor : '+${servicio.proveedor.email}" ></p>

                            <p th:text="'Descripcion Servicio : '+${servicio.descripcionServicio}" ></p>
                            
                            <p th:text="'Servicio ID : '+${servicio.id}" ></p>

                            <p  th:text="'Precio Servicio : $'+${servicio.precioServicio}" ></p>

                            <!-- Button trigger modal -->
                            <a th:text="'REGISTRATE COMO CLIENTE '+${session.usuariosession.email}" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Registro Cliente
                            </a>
                            
                            <a th:text="'Contrata el servico de :  '+${proveedor.nombre}" th:href="@{/cita/__${servicio.id}__}" target="target" class="btn btn-secondary">ARREGLAR UNA CITA</a>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" th:aria-labelledby="${proveedor.id}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" th:id="${proveedor.id}">Formulario de Cita</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form th:replace ="/fragments/contacto_form :: form"></form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>
                        </div>

                        <hr>
                    </div>
                    <!-- SECCION COMENTARIOS -->

                    <div class="row ">

                        <h5>COMENTARIOS</h5>
                        <hr>
                    </div>  
                    <!-- INGRESAR COMENTARIO -->
                    <div class="row ">
                        <div class=" mx-auto p-2 ">

                            <div class="card"  th:if="${session.usuariosession != null}" >

                                <form th:action="@{/servicios/proveedor/__${proveedor.id}__}" method="POST" enctype="multipart/form-data" class="fondo">
                                    <input hidden th:value="${session.usuariosession.id}" name="id">
                                    <input hidden th:value="${proveedor.id}" name="idProveedor">
                                    <div >
                                        <textarea class="form-control comentario" id="comentario" name="comentario" rows="3" th:placeholder="${session.usuariosession.email + ', deja aqui tu comentario'}" required ></textarea>
                                    </div>

                                    <button type="submit" class="btn btn-primary ">Comentar</button>
                                </form>     
                            </div>
                            <div class="text-center  " th:if="${session.usuariosession == null}" >
                                <a th:href="@{/login}" type="button"  class="btn btn-outline-dark btn-warning me-2">Debe estar logueado para porder comentar</a>
                            </div>

                        </div>
                    </div> 
                    <!-- MOSTRAR COMENTARIOS-- iterar una lista de comentarios ordenados por fecha -->
                    <div class="row ">
                        <div class=" mx-auto p-2 comentarios-container ">

                            <div class="card m-3" th:each="comentario : ${proveedor.comentarios}" > <!-- ITERAR COMENTARIOS -->
                                <div class="row g-0  ">
                                    <div class="col-md-4 imagen-comentario ">
                                        <img th:src="@{/imagen/perfil/__${comentario.usuario.id}__}" class="img-fluid rounded-start" alt="usuario-imagen"> 
                                    </div>
                                    <div class="col-md-8 ">
                                        <div class="card-body ">
                                            <h5 th:utext="${comentario.usuario.email}"  class="card-title">Card title</h5>
                                            <p  th:utext="${comentario.comentario}" class="card-text">Esto es una caja de comentarios... </p>
                                            <p  th:utext="${comentario.fecha}" class="card-text"><small  class="text-body-secondary">Comentado tal FECHA Last updated 3 mins ago</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </article>

            </div>

            <div class="col"></div>

        </div>


    </main>

    <div class="container">
        <footer th:replace="/fragments/footer :: footer" > </footer>
    </div>
</body>
</html>
