<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Modificar ROL</title>
    <link rel="stylesheet" href="/css/index.css">
    <div th:replace="/fragments/head :: head"></div>
</head>

<style th:replace="/fragments/style :: style"></style>

<body style=" background: lightgray">

    <header th:replace="/fragments/header :: header"></header>
    
<div style="background: #a12727; text-align: center; margin-bottom: -28px;">
    <h2>Lista Usuarios:</h2>
</div>
    <div style="padding: 20px;" >

        <table class="table table-dark" >
            <thead class="align-items-center" >
                <tr >
                    <th scope="col">Id del Usuario</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Email</th>
                    <th scope="col">Rol</th>
                    
                    <th scope="col">Cambiar Rol</th>
                    <th scope="col">Activo</th>
                    <th scope="col">Foto de Perfil</th>


                </tr>
            </thead>
            
            <tbody th:each="usuario : ${usuarios}"> 
                <tr>
                    <th scope="row" th:text="${usuario.id}"></th>
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.apellido}"></td>
                    <td th:text="${usuario.email}"></td>
                    
                    <td th:text="${usuario.rol}"></td>

                    <td>
                    <a th:href= "@{/admin/modificarRol/__${usuario.id}__}"><i class="fas fa-feather-alt"></i>Cambiar</a>   
                    </td>
                    
                    <td>
                        <button th:text="${session.usuariosession.activo}" class="btn btn-outline-secondary dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/admin/modificarAlta/__${usuario.id}__}" class="dropdown-item ">Cambiar Alta/Baja</a></li>
                        </ul>
                    </td>
                    
                    
                    <td >
                    <a><img th:if="${usuario.imagen != null}" class="logo" th:src="@{/imagen/perfil/__${usuario.id}__}" ></a>  
                    <a><img th:if="${usuario.imagen == null}" class="logo" th:src="@{/images/perfil.png}" ></a> 
                    </td>

                    

                </tr>

            </tbody>
        </table>

        <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
            <div class="card-body">
                <h5 class="card-title">Exito ð</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>
        <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
            <div class="card-body">
                <h5 class="card-title">Error ð</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <a th:href="@{/admin/dashboard }" class="btn btn-primary my-2">Volver</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</html>